body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: relative;
}
main{
    background-color: black;
    height: 100%;
    width: 100%;
}
.allpeople{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3% 3% 10% 3%;
}
.person{
    width: 246px;
    height: 146px;
    display: inline-block;
    position: relative;
    margin: 0px 3px 15px 3px;
}
.personname{
    margin: 0;
    padding: 1% 1%;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}
.person img{
    height: 146px;
    width: 246px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.left{
    order: 1;
    align-self: center;
}
.center{
    order: 2;
    align-self: center;
    flex-basis: auto;


}
.right{
    order: 3;
    align-self: center;
}
.icon{
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    display: inline-block;
    width: 4%;
}
.icon i,.lowertext{

}
.icon i{
    font-size: 30px;
    padding-bottom: 5px;
}
.icon .lowertext{
    font-weight: 700;
}
.endmeeting{
    background-color: green;
    color: red;
    font-size: 30px;
    padding: 0% 0%;

}













footer{
    position: fixed;
    height: 8%;
    width: 100%;
    bottom: 0px;
    background-color: grey;
}
